body {
  background-color: #e20212;
  background-image: url('/images/flag.png');
  background-repeat: no-repeat;
}

#game-container {
  margin: 0px auto;
  width: 500px;
  min-height: 500px;
  background-color: #fff;
  border: 1px solid #e24252;
  padding: 5px;
}

.card {
  position: relative;
  padding-left: 3px;
  height: 60px;
  width: 40px;
  border: 1px solid #aaa;
  display: inline-block;
  cursor: -moz-grab;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

.bottom-right-card {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.black-card {
  height: 100%;
  width: 100%;
}

.red-card {
  height: 100%;
  width: 100%;
  color: #f00;
}

#card_deck {
  background: #555;
  color: #aaa;
  overflow: hidden;
}

#discard {
  height: 70px;
  width: 50px;
  padding-left: 5px;
  padding-top: 5px;
  border: 1px solid #333;
}

#deck {
  height: 70px;
  width: 50px;
  padding-left: 5px;
  padding-top: 5px;
  border: 1px solid #333;
}

#hand {
  padding: 5px;
  border: 1px solid #333;
  min-height: 70px;
}

.player {
  padding: 5px;
  border: 1px solid #333;
}
