
<% if current_player and current_player.game %>
  You are currently playing in: 
  <%= link_to current_player.game.name, current_player.game %>
<% else %>
  <%= link_to "Start a new game", new_game_path %>
<% end %>

<ul>
<% for game in @games %>
  <li><%=link_to game.name, game%></li>
<% end %>
</ul>
