<html>
  <head>
    <title>Maor</title>
    <%= stylesheet_link_tag 'main' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div id="game-container">
      <h2>Maor</h2>
      <hr/>
      <%= yield %>
    </div>
  </body>
</html>
