<html>
  <head>
    <title>Game</title>
    <%= stylesheet_link_tag 'main' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div id="game-container">
      <%= yield %>
    </div>
  </body>
</html>
